.overlay {
    padding: 100px;
    box-sizing: border-box;
    background-color: aliceblue;
    background-image: url(./Images/gettyimages-1373203602-612x612.jpg);
}
.col-lg-6 {

    justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left:300px;
        margin-right: 300px;
        flex: 0 0 auto;
        width: 50%;
        background-color: transparent;
        font-size: large;
}

.sub-title3 {
    font-size: 22px;
    font-weight: 500px;
    margin-top: -5px;
    margin-bottom: 30px;
    text-transform: none;
    color: #055C2D;


 
}

.title3 {
    line-height: 74px;
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 55px;
    margin-top: -12px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #0A2319;
}

.other3 {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    margin-left: 20px;
    color: #2C5536;
    display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start:0px;
        margin-inline-end: 0px;
}


.card-layout {
    display: flex;
    margin-top: 25px;
    margin-bottom: -50px;
    text-align: center;
    background-color: aliceblue;
  
}
.icon {
    height: 3rem;
    width: 3rem;
}